*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.keystore
!debug.keystore

# In CI generierte Native-Libs (hev-socks5-tunnel)
app/src/*/jniLibs/
